<h1>Wilkommen im Admin-Interface von LQFB</h1><br />
<h2>Wenn du kein Berechtigung hast, Melde dich sofort ab und melde den Sicherheitsverstoß bitte.</h2><br />

<lu>
	<li><%= link_to "Logout", :controller => "login", :action => "logout" %></li>
	<li><%= link_to "Suchen", :controller => "suche", :action => "index" %></li>
</lu>
