

<lu>
	<li><%= link_to "Logout", :controller => "login", :action => "logout" %></li>
	<li><%= link_to "Suchen", :controller => "suche", :action => "index" %></li>
</lu>
<hr />
<lu>
	<li><%= link_to "User", :controller => "users", :action => "index" %></li>
	<li><%= link_to "Instants", :controller => "instants", :action => "index" %></li>
	<li><%= link_to "Permission", :controller => "permissions", :action => "index" %></li>
</lu>
