Instantzen mit Rechten:
<table>
	<% @instants.each do |i| %>
	<tr>
		<td><%= i.title %></td> 
		<td><%=link_to "Suche Invent-Code", :action => "invite", :id => i.id %></td> 
		<td><%=link_to "Volltext Suche", :action => "fulltext", :id => i.id %></td>
	</tr>
	<% end%>
</table>
