Hallo,<br /><br />

Hiermit erhält du deinen Zugang zum LQFB Admin Interfase.<br /><br />
<h1>Wende dich sofort an admins@lqpp.de wenn das ein Fehler ist!</h1>
<br /><br />
Dein benutzername ist diese Mailadresse.
<br /><br />
Ein Password kannst du hier vergeben.<br />
<a herf="<%=@show[:url]%>"><%=@show[:url]%></a><br /> 
<br /><br />
Dieser Link funktionirt nur, wenn die VPN Aufgebaut ist!
<br /><br />
Mir freundlichen Grüßen,<br />
eure LQFB Admins.
<br />
<br />
-------<br />
Dies ist eine automatisch genrierte Mail vom LQPP.de Server