Hallo,<br /><br />

Hiermit erhält du deinen Zugang zum LQFB Admin Interface.<br />
<h2>Wende dich sofort an admins@lqpp.de wenn das ein Fehler ist!</h2>
<br />
Dein Benutzername ist diese Mailadresse.
<br /><br />
Ein Password kannst du hier vergeben.<br />
<a href="<%=@show[:url]%>"><%=@show[:url]%></a><br /> 
<br /><br />
Dieser Link funktioniert nur, wenn die VPN Aufgebaut ist!
<br /><br />
Mir freundlichen Grüßen,<br />
eure LQFB Admins.
<br />
<br />
-------<br />
Dies ist eine automatisch genierte Mail vom LQPP.de Server