<h1>Login</h1><br />

	
<% form_tag("?", :method => "post") do %>
<table>
	<tr>
		<td>eMail:</td>
		<td><%= text_field_tag(:email) %></td>
	</tr><tr>
	 	<td>Passwort:</td>
		<td><%= password_field_tag(:pass ) %></td>
	</tr>
</table>
  <%= submit_tag("Login") %>
<% end %>
